body {
  overflow-x: hidden;
}

body::selection {
  background: #189cbc;
  color: #fff;
}

header::selection,
section.success::selection {
  background: #2c3e50;
  color: #fff;
}

p, li {
  font-size: 1.4em;
}

a,
a:hover,
a:focus,
a:active,
a.active {
  outline: 0;
  color: #189cbc;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

header {
  text-align: center;
  color: #fff;
  background: #189cbc;
}

header .container {
  padding-top: 100px;
  padding-bottom: 50px;
}

header img {
  display: block;
  margin: 0 auto 20px;
}

header .intro-text .name {
  display: block;
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2em;
  font-weight: 700;
}

header .intro-text .skills {
  font-size: 1.25em;
  font-weight: 300;
}

@media (min-width: 768px) {
  header .container {
    padding-top: 200px;
    padding-bottom: 100px;
  }

  header .intro-text .name {
    font-size: 4.75em;
  }

  header .intro-text .skills {
    font-size: 1.75em;
  }

  .navbar-fixed-top {
    padding: 10px 0;
  }

  .navbar-fixed-top .navbar-brand {
    font-size: 1.5em;
  }

  .navbar-fixed-top a {
    transition: all .3s;
  }
}

.navbar {
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.navbar a:focus {
  outline: 0;
}

.navbar .navbar-nav {
  letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
  outline: 0;
}

.navbar-default,
.navbar-inverse {
  border: 0;
}

section {
  padding: 100px 0;
}

section h2 {
  margin: 0;
  font-size: 3em;
}

section.success {
  color: #fff;
  background: #189cbc;
}

@media (max-width: 767px) {
  section {
    padding: 75px 0;
  }

  section.first {
    padding-top: 75px;
  }
}

footer {
  color: #fff;
}

footer p {
  font-size: 1em;
  margin-bottom: 30px;
}

footer h3 {
  margin-bottom: 30px;
}

footer .footer-above {
  padding-top: 50px;
  background-color: #2c3e50;
}

footer .footer-col {
  margin-bottom: 50px;
}

footer .footer-below {
  padding: 25px 0;
  background-color: #233140;
}

.btn:focus,
.btn:active,
.btn.active {
  outline: 0;
}

#portfolio .container > a {
  text-decoration: none;
}

.map {
  height: 400px;
  margin-bottom: 20px;
  color: #000;
}

.project-box {
  background: #f5f5f5;
  color: #2c3e50;
  border-top: #ccc solid 1px;
  padding: 40px;
  transition: all .3s;
  cursor: pointer;
}

.project-box:hover {
  background: #2c3e50;
  color: #fff;
  border-top-color: #777;
}

.project-box img {
  float: right;
  margin-left: 60px;
}

.project-details {
  display: none;
  background: #2c3e50;
  color: #fff;
  padding: 40px;
}

hr.spacer {
  color: transparent;
  margin: 25px auto 30px;
  border: none;
}